1.b  Take the sampregdata and build a linear regression model with scikit-learn, using the 1 X
that fits the best. Put the model and the data in a proper organization.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import joblib

In [3]:
# Load dataset
file_path = "sampregdata.csv"  
df = pd.read_csv(file_path)

In [4]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5394 entries, 0 to 5393
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5394 non-null   int64
 1   x1          5394 non-null   float64
 2   x2          5394 non-null   float64
 3   x3          5394 non-null   float64
 4   x4          5394 non-null   float64
 5   y           5394 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 253.0 KB

None

In [5]:
display(df.describe())

,Unnamed: 0,x1,x2,x3,x4,y
count,5394.000000,5394.000000,5394.000000,5394.000000,5394.000000,5394.000000
mean,2697.500000,12.021683,8.167434,7.574040,3.591243,4.353384
std,1557.258007,5.868268,6.232803,9.368097,4.588720,10.714636
min,1.000000,-12.026544,-16.040464,-26.311984,-12.455868,-34.466644
25%,1349.250000,8.168341,3.971380,1.452189,0.403797,-2.885133
50%,2697.500000,12.022236,8.210973,7.645897,3.564580,4.563703
75%,4045.750000,15.923815,12.306448,13.914808,6.784039,11.482432
max,5394.000000,31.833649,30.542882,39.652579,19.165572,45.056655

In [6]:
display(df.head())

   Unnamed: 0         x1        x2         x3         x4          y
0           1   7.331693  9.660958  -2.981869   5.214284  -2.311878
1           2  16.888609  9.546231  18.440459  11.804018   0.994307
2           3   8.280643  6.442062  -0.225791   6.493211  -5.253876
3           4   3.827778  3.741506  -2.850664  -0.226420  20.056798
4           5   9.675971  4.385008   8.344576   5.979043   9.577914

In [7]:
correlation = df.corr()['y'].drop('y').sort_values(ascending=False)
print("Feature correlations with target (y):")
display(correlation)

Feature correlations with target (y):

x3            0.432279
x1            0.005234
Unnamed: 0   -0.021411
x2           -0.471165
x4           -0.524394
Name: y, dtype: float64

In [8]:
best_feature = correlation.abs().idxmax()
print(f"Best predictor: {best_feature}")

Best predictor: x4

In [9]:
X = df[[best_feature]]
y = df['y']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [12]:
y_pred = model.predict(X_test)

In [13]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error (MSE): {mse}")
print(f"R² Score: {r2}")

Mean Squared Error (MSE): 76.85266230805573
R² Score: 0.2685542927902339

In [14]:
model_filename = "linear_regression_model.pkl"
joblib.dump(model, model_filename)
print(f"Model saved as {model_filename}")

Model saved as linear_regression_model.pkl

In [15]:
train_data_filename = "train_data.csv"
test_data_filename = "test_data.csv"

In [16]:
train_data = pd.concat([X_train, y_train], axis=1)
test_data = pd.concat([X_test, y_test], axis=1)

In [17]:
train_data.to_csv(train_data_filename, index=False)
test_data.to_csv(test_data_filename, index=False)

In [18]:
print(f"Training data saved as {train_data_filename}")
print(f"Testing data saved as {test_data_filename}")

Training data saved as train_data.csv
Testing data saved as test_data.csv

1.c Create a new model with 2 X’s. Use proper version control to designate this model as
the current model while still have the previous model as accessible.

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import joblib

file_path = "sampregdata.csv"  
df = pd.read_csv(file_path)

display(df.info())
display(df.describe())
display(df.head())

correlation = df.corr()['y'].drop('y').sort_values(ascending=False)
print("Feature correlations with target (y):")
display(correlation)

best_features = correlation.abs().nlargest(2).index.tolist()
print(f"Best predictors: {best_features}")

X = df[best_features]
y = df['y']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error (MSE): {mse}")
print(f"R² Score: {r2}")

previous_model_filename = "linear_regression_model_v1.pkl"
joblib.dump(model, previous_model_filename)
print(f"Previous model saved as {previous_model_filename}")

current_model_filename = "linear_regression_model_v2.pkl"
joblib.dump(model, current_model_filename)
print(f"Current model saved as {current_model_filename}")

train_data_filename = "train_data_v2.csv"
test_data_filename = "test_data_v2.csv"

train_data = pd.concat([X_train, y_train], axis=1)
test_data = pd.concat([X_test, y_test], axis=1)

train_data.to_csv(train_data_filename, index=False)
test_data.to_csv(test_data_filename, index=False)

print(f"Training data saved as {train_data_filename}")
print(f"Testing data saved as {test_data_filename}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5394 entries, 0 to 5393
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5394 non-null   int64
 1   x1          5394 non-null   float64
 2   x2          5394 non-null   float64
 3   x3          5394 non-null   float64
 4   x4          5394 non-null   float64
 5   y           5394 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 253.0 KB

None

,Unnamed: 0,x1,x2,x3,x4,y
count,5394.000000,5394.000000,5394.000000,5394.000000,5394.000000,5394.000000
mean,2697.500000,12.021683,8.167434,7.574040,3.591243,4.353384
std,1557.258007,5.868268,6.232803,9.368097,4.588720,10.714636
min,1.000000,-12.026544,-16.040464,-26.311984,-12.455868,-34.466644
25%,1349.250000,8.168341,3.971380,1.452189,0.403797,-2.885133
50%,2697.500000,12.022236,8.210973,7.645897,3.564580,4.563703
75%,4045.750000,15.923815,12.306448,13.914808,6.784039,11.482432
max,5394.000000,31.833649,30.542882,39.652579,19.165572,45.056655

   Unnamed: 0         x1        x2         x3         x4          y
0           1   7.331693  9.660958  -2.981869   5.214284  -2.311878
1           2  16.888609  9.546231  18.440459  11.804018   0.994307
2           3   8.280643  6.442062  -0.225791   6.493211  -5.253876
3           4   3.827778  3.741506  -2.850664  -0.226420  20.056798
4           5   9.675971  4.385008   8.344576   5.979043   9.577914

Feature correlations with target (y):

x3            0.432279
x1            0.005234
Unnamed: 0   -0.021411
x2           -0.471165
x4           -0.524394
Name: y, dtype: float64

Best predictors: ['x4', 'x2']
Mean Squared Error (MSE): 53.621132028750594
R² Score: 0.4896605314602541
Previous model saved as linear_regression_model_v1.pkl
Current model saved as linear_regression_model_v2.pkl
Training data saved as train_data_v2.csv
Testing data saved as test_data_v2.csv